h1 {
  margin: 20px;
  padding: 0px;
}

p {
  font-size: 20px;
}

.button {
  width: 120px;
  height: 50px;
  background-color: #4169e2;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.image {
  width: 80%;
  height: 40%;
  overflow: hidden;
}

.square {
  padding: 30px;
  width: 600px;
  border: 1px solid black;
  border-radius: 6px;
  margin-top: 10%;
}

.tableSection {
  margin: 30px;
  background-color: #fea500;
  width: 60%;
}

table,
td,
th {
  border: 1px solid black;
  text-align: center;
}

table img {
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
